:root {
  --tiptap-color-text: #000;
  --tiptap-color-text-secondly: #adb5bd;
  --tiptap-color-background: #fff;
  --tiptap-color-background-hover: #e9ecef;
  --tiptap-color-background-secondly: #f8f9fa;
  --tiptap-color-border: #ced4da;
  --tiptap-color-dark-text: #fff;
  --tiptap-color-dark-text-secondly: #f8f9fa;
  --tiptap-color-dark-background: #25262b;
  --tiptap-color-dark-background-secondly: #5c5f66;
  --tiptap-color-primary: #1c7ed6;
  --tiptap-color-selected: #8cf;
  --tiptap-color-code: #c92a2a;
  --tiptap-color-mark: #ffec99;
  --tiptap-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --tiptap-font-family-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;
  --tiptap-font-weight: 400;
  --tiptap-font-size: 1em;
  --tiptap-line-height: 1.7;

  --tiptap-n-color: rgba(0, 0, 0, 1);
  --tiptap-n-operator-border: rgba(0, 0, 0, 0.08);
  --tiptap-n-operator-color: rgba(0, 7, 20, 0.62);
  --tiptap-n-operator-background: rgba(255, 255, 255, 1);
  --tiptap-n-operator-hover-border: rgba(0, 0, 0, 0.19);
  --tiptap-n-operator-hover-color: rgba(36, 0, 183, 0.66);
  --tiptap-n-operator-hover-background: rgba(0, 0, 51, 0.06);
  --tiptap-n-operator-dark-border: rgba(0, 0, 0, 0.08);
  --tiptap-n-operator-dark-color: rgba(252, 253, 255, 0.94);
  --tiptap-n-operator-dark-background: rgba(17, 17, 17, 1);
  --tiptap-n-operator-dark-hover-border: rgba(255, 255, 255, 0.23);
  --tiptap-n-operator-dark-hover-color: rgba(134, 104, 255, 0.8);
  --tiptap-n-operator-dark-hover-background: rgba(221, 234, 248, 0.08);
}

.tiptap * {
  box-sizing: border-box;
}

/* region tippy */

.tippy-box[data-theme="tiptap"] {
  font-size: inherit;
  line-height: inherit;
  color: var(--tiptap-n-operator-color);
  background: var(--tiptap-n-operator-background);
  box-shadow: var(--tiptap-n-operator-border) 0 0 0 1px, var(--tiptap-n-operator-border) 0 2px 4px, var(--tiptap-n-operator-border) 0 4px 8px;
}

.tippy-box[data-theme="tiptap-dark"] {
  font-size: inherit;
  line-height: inherit;
  color: var(--tiptap-n-operator-dark-color);
  background: var(--tiptap-n-operator-dark-background);
  box-shadow: var(--tiptap-n-operator-dark-border) 0 0 0 1px, var(--tiptap-n-operator-dark-border) 0 2px 4px, var(--tiptap-n-operator-dark-border) 0 4px 8px;
}

.tippy-box[data-theme="tiptap"] .tippy-content,
.tippy-box[data-theme="tiptap-dark"] .tippy-content {
  padding: 0;
}

/* endregion */

/* region data-color */

.tiptap [data-color="gray"] {
  color: #8D8D8D;
  fill: #8D8D8D;
  background: inherit;
}

.tiptap [data-color="slate"] {
  color: #8E8C99;
  fill: #8E8C99;
  background: inherit;
}

.tiptap [data-color="tomato"] {
  color: #E54D2E;
  fill: #E54D2E;
  background: inherit;
}

.tiptap [data-color="red"] {
  color: #E5484D;
  fill: #E5484D;
  background: inherit;
}

.tiptap [data-color="ruby"] {
  color: #E54666;
  fill: #E54666;
  background: inherit;
}

.tiptap [data-color="crimson"] {
  color: #E93D82;
  fill: #E93D82;
  background: inherit;
}

.tiptap [data-color="pink"] {
  color: #D6409F;
  fill: #D6409F;
  background: inherit;
}

.tiptap [data-color="plum"] {
  color: #AB4ABA;
  fill: #AB4ABA;
  background: inherit;
}

.tiptap [data-color="purple"] {
  color: #8E4EC6;
  fill: #8E4EC6;
  background: inherit;
}

.tiptap [data-color="violet"] {
  color: #6E56CF;
  fill: #6E56CF;
  background: inherit;
}

.tiptap [data-color="iris"] {
  color: #5B5BD6;
  fill: #5B5BD6;
  background: inherit;
}

.tiptap [data-color="indigo"] {
  color: #3E63DD;
  fill: #3E63DD;
  background: inherit;
}

.tiptap [data-color="blue"] {
  color: #0090FF;
  fill: #0090FF;
  background: inherit;
}

.tiptap [data-color="cyan"] {
  color: #00A2C7;
  fill: #00A2C7;
  background: inherit;
}

.tiptap [data-color="teal"] {
  color: #12A594;
  fill: #12A594;
  background: inherit;
}

.tiptap [data-color="jade"] {
  color: #29A383;
  fill: #29A383;
  background: inherit;
}

.tiptap [data-color="green"] {
  color: #30A46C;
  fill: #30A46C;
  background: inherit;
}

.tiptap [data-color="bronze"] {
  color: #A18072;
  fill: #A18072;
  background: inherit;
}

.tiptap [data-color="gold"] {
  color: #978365;
  fill: #978365;
  background: inherit;
}

.tiptap [data-color="brown"] {
  color: #AD7F58;
  fill: #AD7F58;
  background: inherit;
}

.tiptap [data-color="orange"] {
  color: #F76B15;
  fill: #F76B15;
  background: inherit;
}

.tiptap [data-color="amber"] {
  color: #FFC53D;
  fill: #FFC53D;
  background: inherit;
}

.tiptap [data-color="yellow"] {
  color: #FFE629;
  fill: #FFE629;
  background: inherit;
}

.tiptap [data-color="lime"] {
  color: #BDEE63;
  fill: #BDEE63;
  background: inherit;
}

.tiptap [data-color="mint"] {
  color: #86EAD4;
  fill: #86EAD4;
  background: inherit;
}

.tiptap [data-color="sky"] {
  color: #7CE2FE;
  fill: #7CE2FE;
  background: inherit;
}

.tiptap [data-color="b-gray"] {
  background: #F0F0F0;
}

.tiptap [data-color="b-slate"] {
  background: #F0F0F3;
}

.tiptap [data-color="b-tomato"] {
  background: #FEEBE7;
}

.tiptap [data-color="b-red"] {
  background: #FEEBEC;
}

.tiptap [data-color="b-ruby"] {
  background: #FEEAED;
}

.tiptap [data-color="b-crimson"] {
  background: #FFE9F0;
}

.tiptap [data-color="b-pink"] {
  background: #FEE9F5;
}

.tiptap [data-color="b-plum"] {
  background: #FBEBFB;
}

.tiptap [data-color="b-purple"] {
  background: #F7EDFE;
}

.tiptap [data-color="b-violet"] {
  background: #F4F0FE;
}

.tiptap [data-color="b-iris"] {
  background: #F0F1FE;
}

.tiptap [data-color="b-indigo"] {
  background: #E1E9FF;
}

.tiptap [data-color="b-blue"] {
  background: #E6F4FE;
}

.tiptap [data-color="b-cyan"] {
  background: #DEF7F9;
}

.tiptap [data-color="b-teal"] {
  background: #E0F8F3;
}

.tiptap [data-color="b-jade"] {
  background: #E6F7ED;
}

.tiptap [data-color="b-green"] {
  background: #E6F6EB;
}

.tiptap [data-color="b-bronze"] {
  background: #F6EDEA;
}

.tiptap [data-color="b-gold"] {
  background: #F2F0E7;
}

.tiptap [data-color="b-brown"] {
  background: #F6EEE7;
}

.tiptap [data-color="b-orange"] {
  background: #FFEFD6;
}

.tiptap [data-color="b-amber"] {
  background: #FFF7C2;
}

.tiptap [data-color="b-yellow"] {
  background: #FFFAB8;
}

.tiptap [data-color="b-lime"] {
  background: #EEF6D6;
}

.tiptap [data-color="b-mint"] {
  background: #DDF9F2;
}

.tiptap [data-color="b-sky"] {
  background: #E1F6FD;
}

/* endregion */

/* region tiptap float menu */

.tiptap-fm {
  display: flex;
  padding: 0.3em 0.5em;
}

.tiptap-fm-divider {
  background: var(--tiptap-n-operator-border);
  margin: 0.15em 0.2em;
  width: 1px;
}

.tiptap-fm-input {
  font-size: 0.9em;
  flex-grow: 1;
  outline: none;
  margin: 0.1em 0;
  padding: 0.3em 0.5em;
  border-radius: 4px;
  color: var(--tiptap-n-operator-color);
  background: var(--tiptap-n-operator-background);
  border: 1px solid var(--tiptap-n-operator-hover-border);
  transition-duration: 150ms;
  transition-property: color, border, box-shadow;
  transition-timing-function: ease-in-out;
}

.tiptap-fm-input:focus {
  border: 1px solid var(--tiptap-n-operator-hover-color);
  box-shadow: 0 0 0 1px var(--tiptap-n-operator-hover-color);
}

.tiptap-fm-button {
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3em 0.4em;
  margin: 0 0.2em;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition-duration: 150ms;
  transition-property: color;
  transition-timing-function: ease-in-out;
  color: var(--tiptap-n-operator-color);
  background: transparent;
}

.tiptap-fm-button:first-child {
  margin-left: 0;
}

.tiptap-fm-button:last-child {
  margin-right: 0;
}

.tiptap-fm-button:hover,
.tiptap-fm-button:focus,
.tiptap-fm-button:active,
.tiptap-fm-button.active {
  color: var(--tiptap-n-operator-hover-color);
  background: var(--tiptap-n-operator-hover-background);
}

.tiptap-fm-button svg {
  width: 1.6em;
  height: 1.6em;
}

.tiptap-fm-button-popover {
  display: flex;
  padding: 0.5em 1em;
  font-size: 0.5em;
  border-radius: 4px;
  color: var(--tiptap-n-operator-dark-color);
  background: var(--tiptap-n-operator-dark-background);
}

.tiptap-fm-color-picker {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  gap: 0.5em;
  padding: 0.5em;
}

.tiptap-fm-color-picker button {
  appearance: none;
  cursor: pointer;
  line-height: 1;
  padding: 0.35em 0.5em;
  border-radius: 4px;
  border: 1px solid var(--tiptap-n-operator-hover-border);
  transition-duration: 150ms;
  transition-property: color, border, box-shadow;
  transition-timing-function: ease-in-out;
}

.tiptap-fm-color-picker button:hover,
.tiptap-fm-color-picker button:focus,
.tiptap-fm-color-picker button:active,
.tiptap-fm-color-picker button.active {
  border: 1px solid var(--tiptap-n-operator-hover-color);
  box-shadow: 0 0 0 1px var(--tiptap-n-operator-hover-color);
}

.tiptap-fm-input + .tiptap-fm-button {
  margin-left: 0.6em;
}

.tiptap-fm-button + .tiptap-fm-input {
  margin-right: 0.6em;
}

/* endregion */

/* region tiptap block menu */

.tiptap-bm {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0.5em 0;
  width: 20em;
  max-height: 15em;
  white-space: nowrap;
  pointer-events: all;
  color: var(--tiptap-n-color);
}

.tiptap-bm-placeholder::before {
  content: attr(data-empty);
  display: block;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  pointer-events: none;
  height: 0;
  color: var(--tiptap-n-operator-color);
}

.ProseMirror-focused .tiptap-bm-placeholder::before {
  opacity: 1;
}

.tiptap-bm-empty {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 0.8em;
  height: 2.8em;
  padding: 0 1em;
}

.tiptap-bm-divider {
  border-top: 1px solid var(--tiptap-n-operator-border);
  margin: 0.5em 0;
}

.tiptap-bm-button {
  appearance: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 500;
  font-size: 0.8em;
  line-height: 1;
  width: 100%;
  border: none;
  outline: none;
  height: 2.8em;
  padding: 0 1em;
  background: transparent;
}

.tiptap-bm-button:hover,
.tiptap-bm-button:focus,
.tiptap-bm-button:active,
.tiptap-bm-button.active {
  background: var(--tiptap-n-operator-hover-background);
}

.tiptap-bm-button-icon {
  margin-right: 1em;
  width: 1.2em;
  height: 1.2em;
}

.tiptap-bm-button-icon svg {
  width: 1.2em;
  height: 1.2em;
}

.tiptap-bm-button-name {
  flex-grow: 1;
  text-align: start;
}

/* endregion */

/* region tiptap menu common */

.tiptap-fm-button kbd,
.tiptap-bm-button kbd,
.tiptap-fm-button-popover kbd,
.tiptap-bm-button-popover kbd {
  font-family: var(--tiptap-font-family-mono);
  display: inline-block;
  font-size: 0.2em;
  font-weight: 700;
  line-height: 1;
  padding: 0.05em 1em;
  border-radius: 4px;
  border-width: 1px 1px 3px;
  border-style: solid;
  border-color: var(--tiptap-n-operator-hover-border);
  color: var(--tiptap-n-operator-color);
  background: var(--tiptap-n-operator-background);
}

/* endregion */

@media print {
  .tiptap-fm,
  .tiptap-bm {
    display: none;
  }
}
