:root {
  --tiptap-color-text: #000;
  --tiptap-color-text-secondly: #adb5bd;
  --tiptap-color-background: #fff;
  --tiptap-color-background-hover: #e9ecef;
  --tiptap-color-background-secondly: #f8f9fa;
  --tiptap-color-border: #ced4da;
  --tiptap-color-dark-text: #fff;
  --tiptap-color-dark-text-secondly: #f8f9fa;
  --tiptap-color-dark-background: #25262b;
  --tiptap-color-dark-background-secondly: #5c5f66;
  --tiptap-color-primary: #1c7ed6;
  --tiptap-color-selected: #8cf;
  --tiptap-color-code: #c92a2a;
  --tiptap-color-mark: #ffec99;
  --tiptap-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --tiptap-font-family-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;
  --tiptap-font-weight: 400;
  --tiptap-font-size: 1em;
  --tiptap-line-height: 1.7;

  --tiptap-n-operator-border: rgba(0, 0, 0, 0.08);
  --tiptap-n-operator-color: rgba(0, 7, 20, 0.62);
  --tiptap-n-operator-background: rgba(252, 252, 252, 1);
  --tiptap-n-operator-hover-border: #00000026;
  --tiptap-n-operator-hover-color: rgba(36, 0, 183, 0.66);
  --tiptap-n-operator-hover-background: rgba(73, 0, 255, 0.03);
  --tiptap-n-operator-dark-border: rgba(0, 0, 0, 0.08);
  --tiptap-n-operator-dark-color: rgba(252, 253, 255, 0.94);
  --tiptap-n-operator-dark-background: rgba(17, 17, 17, 1);
  --tiptap-n-operator-dark-hover-color: rgba(134, 104, 255, 0.8);
  --tiptap-n-operator-dark-hover-background: rgba(68, 34, 255, 0.06);
}

.tiptap * {
  box-sizing: border-box;
}

.tippy-box[data-theme="tiptap"] {
  font-size: inherit;
  line-height: inherit;
  color: var(--tiptap-n-operator-color);
  background: var(--tiptap-n-operator-background);
  box-shadow: var(--tiptap-n-operator-border) 0 0 0 1px, var(--tiptap-n-operator-border) 0 2px 4px, var(--tiptap-n-operator-border) 0 4px 8px;
}

.tippy-box[data-theme="tiptap-dark"] {
  font-size: inherit;
  line-height: inherit;
  color: var(--tiptap-n-operator-dark-color);
  background: var(--tiptap-n-operator-dark-background);
  box-shadow: var(--tiptap-n-operator-dark-border) 0 0 0 1px, var(--tiptap-n-operator-dark-border) 0 2px 4px, var(--tiptap-n-operator-dark-border) 0 4px 8px;
}

.tippy-box[data-theme="tiptap"] .tippy-content,
.tippy-box[data-theme="tiptap-dark"] .tippy-content {
  padding: 0;
}

.tiptap [data-color="e"],
.tiptap-popover [data-color="e"] {
  color: #8D8D8D;
  fill: #8D8D8D;
  background: inherit;
}

.tiptap [data-color="f"],
.tiptap-popover [data-color="f"] {
  color: #AD7F58;
  fill: #AD7F58;
  background: inherit;
}

.tiptap [data-color="o"],
.tiptap-popover [data-color="o"] {
  color: #F76B15;
  fill: #F76B15;
  background: inherit;
}

.tiptap [data-color="y"],
.tiptap-popover [data-color="y"] {
  color: #FFE629;
  fill: #FFE629;
  background: inherit;
}

.tiptap [data-color="g"],
.tiptap-popover [data-color="g"] {
  color: #30A46C;
  fill: #30A46C;
  background: inherit;
}

.tiptap [data-color="b"],
.tiptap-popover [data-color="b"] {
  color: #0090FF;
  fill: #0090FF;
  background: inherit;
}

.tiptap [data-color="p"],
.tiptap-popover [data-color="p"] {
  color: #8E4EC6;
  fill: #8E4EC6;
  background: inherit;
}

.tiptap [data-color="q"],
.tiptap-popover [data-color="q"] {
  color: #D6409F;
  fill: #D6409F;
  background: inherit;
}

.tiptap [data-color="r"],
.tiptap-popover [data-color="r"] {
  color: #E5484D;
  fill: #E5484D;
  background: inherit;
}

.tiptap [data-color="be"],
.tiptap-popover [data-color="be"] {
  background: #F0F0F0;
}

.tiptap [data-color="bf"],
.tiptap-popover [data-color="bf"] {
  background: #EFE4DF;
}

.tiptap [data-color="bo"],
.tiptap-popover [data-color="bo"] {
  background: #FFEFD6;
}

.tiptap [data-color="by"],
.tiptap-popover [data-color="by"] {
  background: #FFFAB8;
}

.tiptap [data-color="bg"],
.tiptap-popover [data-color="bg"] {
  background: #E6F6EB;
}

.tiptap [data-color="bb"],
.tiptap-popover [data-color="bb"] {
  background: #E6F4FE;
}

.tiptap [data-color="bp"],
.tiptap-popover [data-color="bp"] {
  background: #F7EDFE;
}

.tiptap [data-color="bq"],
.tiptap-popover [data-color="bq"] {
  background: #FEE9F5;
}

.tiptap [data-color="br"],
.tiptap-popover [data-color="br"] {
  background: #FEEBEC;
}

.tiptap-fm {
  display: flex;
  padding: 0.3em 0.5em;
}

.tiptap-fm-divider {
  background: var(--tiptap-n-operator-border);
  margin: 0.15em 0.2em;
  width: 1px;
}

.tiptap-fm-input {
  font-size: 0.9em;
  flex-grow: 1;
  outline: none;
  margin: 0.1em 0;
  padding: 0.3em 0.5em;
  border-radius: 4px;
  color: var(--tiptap-n-operator-color);
  background: var(--tiptap-n-operator-background);
  border: 1px solid var(--tiptap-n-operator-hover-border);
  transition-duration: 150ms;
  transition-property: color, border, box-shadow;
  transition-timing-function: ease-in-out;
}

.tiptap-fm-input:focus {
  border: 1px solid var(--tiptap-n-operator-hover-color);
  box-shadow: 0 0 0 1px var(--tiptap-n-operator-hover-color);
}

.tiptap-fm-button {
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3em 0.4em;
  margin: 0 0.2em;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition-duration: 150ms;
  transition-property: color;
  transition-timing-function: ease-in-out;
  color: var(--tiptap-n-operator-color);
  background: transparent;
}

.tiptap-fm-button:first-child {
  margin-left: 0;
}

.tiptap-fm-button:last-child {
  margin-right: 0;
}

.tiptap-fm-button:hover,
.tiptap-fm-button:focus,
.tiptap-fm-button:active,
.tiptap-fm-button.active {
  color: var(--tiptap-n-operator-hover-color);
  background: var(--tiptap-n-operator-hover-background);
}

.tiptap-fm-button svg {
  width: 1.6em;
  height: 1.6em;
}

.tiptap-fm-button-popover {
  display: flex;
  padding: 0.5em 1em;
  font-size: 0.5em;
  border-radius: 4px;
  color: var(--tiptap-n-operator-dark-color);
  background: var(--tiptap-n-operator-dark-background);
}

.tiptap-fm-button-popover kbd {
  font-family: var(--tiptap-font-family-mono);
  display: inline-block;
  font-size: 0.2em;
  font-weight: 700;
  line-height: 1;
  padding: 0.05em 1em;
  border-radius: 4px;
  border-width: 1px 1px 2px;
  border-style: solid;
  border-color: var(--tiptap-n-operator-border);
  color: var(--tiptap-n-operator-color);
  background: var(--tiptap-n-operator-background);
}

.tiptap-fm-color-picker {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0.5em;
}

.tiptap-fm-color-picker-section {
  display: flex;
  gap: 0.5em;
}

.tiptap-fm-color-picker-section button {
  appearance: none;
  cursor: pointer;
  line-height: 1;
  padding: 0.35em 0.5em;
  border-radius: 4px;
  border: 1px solid var(--tiptap-n-operator-hover-border);
  transition-duration: 150ms;
  transition-property: color, border, box-shadow;
  transition-timing-function: ease-in-out;
}

.tiptap-fm-color-picker-section button:hover,
.tiptap-fm-color-picker-section button:focus,
.tiptap-fm-color-picker-section button:active,
.tiptap-fm-color-picker-section button.active {
  border: 1px solid var(--tiptap-n-operator-hover-color);
  box-shadow: 0 0 0 1px var(--tiptap-n-operator-hover-color);
}

.tiptap-fm-input + .tiptap-fm-button {
  margin-left: 0.6em;
}

.tiptap-fm-button + .tiptap-fm-input {
  margin-right: 0.6em;
}

@media print {
  .tiptap-fm {
    display: none;
  }
}
